<p id="notice"><%= notice %></p>

<h1>Favoritemovies</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @favoritemovies.each do |favoritemovie| %>
      <tr>
        <td><%= link_to 'Show', favoritemovie %></td>
        <td><%= link_to 'Edit', edit_favoritemovie_path(favoritemovie) %></td>
        <td><%= link_to 'Destroy', favoritemovie, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Favoritemovie', new_favoritemovie_path %>
